body {
  font-size: 1em;
}


table {
  border:#ccc 1px solid;
  padding: 5px;
  text-align: right;
}

table td {
  /*margin: 1px;*/
  padding: 5px 1px;
  border:#ccc 1px solid;
}

table th {
  width: 100px;
}

table tr th {
  text-align: left;
}
